* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
   justify-content: center;
   margin: 5vh;
  }

  .basic {
    margin: 3vh;
    padding: 3em;
  }

  .basic:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }